/*
1. Posicionamiento 
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

 2. Modelo de Caja (Box Model) 
    width: 100%;
    min-width: 320px;
    padding: 0 24px;
    box-sizing: border-box;

3. Tipografía 
    text-align: center;

4. Visuales 
    background-color: var(--just-white);

5. Otros
    /* Aquí puedes agregar más propiedades según sea necesario  
*/


:root {
    /*Colores*/
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D4;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
    --grey: #808080;
    --orange: #FF9536;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: DM Sans, sans-serif;
}
header {
    position: relative; /* Posicionamiento relativo para el header */
    display:flex; /* Flexbox para alinear elementos */
    flex-direction: column; /* Coloca los elementos en columna */
    justify-content: center; /* Centra verticalmente */
    width: 100%; /* Ancho completo */
    min-width: 320px; /* Ancho mínimo */
    height: 334px; /* Altura del header */
    text-align: center; /* Centrado del texto */  
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);/* Degradado de fondo */


   
}
header img{
    position:absolute;
    width: 150px; /* Ancho de la imagen */
    height: 24px; /* Altura de la imagen */
    margin-bottom: 230px; /* Margen superior para centrar la imagen */ 
    align-self: center; /* Centra la imagen horizontalmente */

}
.header--title-container {
    width: 90%; /* Ancho del contenedor del título */
    min-width: 288px; /* Ancho mínimo del contenedor del título */
    max-width: 900px; /* Ancho máximo del contenedor del título */
    height: 218px; /* Altura del contenedor del título */
    margin-top: 40px; /* Margen superior para el contenedor del título */
    text-align: center; /* Centrado del texto dentro del contenedor */
    align-self: center; /* Centra el contenedor horizontalmente */

    
}
.header--title-container h1 {
    min-height:100px;
    margin-top: 30px;;
    font-size: 2.4rem;/* Tamaño de fuente del título */
    font-weight: 700;/* Peso de fuente del título */
    line-height: 2.6rem;/* Altura de línea del título */
    color: var(--just-white);/* Color del texto del título */
}
.header--title-container p {
    min-height:80px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
    margin-top: 2.5rem;
}
.header--title-container .header--buton {
    position:relative;
    left: calc(50% - 118px);/* Centrado horizontal del botón */
    display: flex;/* Flexbox para alinear el botón */    
    align-items: center; /* Alinea el contenido del botón verticalmente */   
    justify-content: center;/* Centra el contenido del botón horizontalmente */    
    
    width: 229px;/* Ancho del botón */
    height: 48px;/* Altura del botón */
    background: var(--off-white);
    border: none;/* Sin borde en el botón */
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    text-decoration: none;/* Sin subrayado en el texto del botón */
    color: var(--black);
    /* Sombra */
    box-shadow: 0px 4px 8px 0px rgba(89, 73, 30, 0.16); 
    
}
.header--buton span {
    display: inline-block;/* Muestra el texto del botón como un bloque en línea */
    width: 24px;
    height: 24px;
    margin-left: 10px;/* Margen izquierdo para el icono del botón */
    background-image: url(./assets/icons/down-arrow.svg);/* Imagen de fondo del icono del botón */
    background-repeat: no-repeat; /* No repetir la imagen de fondo */
    background-size: contain; /* Ajusta la imagen de fondo al tamaño del elemento */
    background-position: center; /* Centra la imagen de fondo */    
}
main {
    width: 100%;
    height: auto;/* Altura automática para el contenido principal */background-color: var(--off-white);

}
.main-exchange-container {
    width: 100%;/* Ancho completo del contenedor de intercambio */
    height: auto;/* Altura automática para el contenedor de intercambio */
    padding-top: 80px;/* Espacio superior para el contenedor de intercambio */
    padding-bottom: 30px;/* Espacio inferior para el contenedor de intercambio */
    margin: 0 auto;/* Centrado automático del contenedor de intercambio */
    padding-left: 10px;
    padding-right: 10px;/* Espacio a los lados del contenedor de intercambio */
    text-align: center;/* Centrado del texto en el contenedor de intercambio */
}
.main-exchange-container h2 {
    margin-bottom: 30px;/* Margen inferior para el título del contenedor de intercambio */
    font-size: 2.4rem;/* Tamaño de fuente del título del contenedor de intercambio */
    font-weight: 700;/* Peso de fuente del título del contenedor de intercambio */  
    line-height: 2.6rem;/* Altura de línea del título del contenedor de intercambio */
    color: var(--black);/* Color del texto del título del contenedor de intercambio*/
}
.main-exchange-container p {
    margin-bottom: 30px;/* Margen inferior para el párrafo del contenedor de intercambio */
    font-size: 1.4rem;/* Tamaño de fuente del párrafo del contenedor de intercambio */
    font-weight: 500;/* Peso de fuente del párrafo del contenedor de intercambio */
    line-height: 1.6rem;/* Altura de línea del párrafo del*/
    color: #757575;/* Color del texto del párrafo del contenedor de intercambio */
}
    .main-exchange-container--title {
    width: 90%;
    min-width: 288px;/* Ancho mínimo del título del contenedor de intercambio */
    max-width: 900px;/* Ancho máximo del título del contenedor de intercambio */
    margin: 0 auto;/* Centrado automático del título */
    
}
.main-exchange-container .backgroundImg {
    width: 200px;/* Ancho de la imagen de fondo */
    height: 200px;/* Altura de la imagen de fondo */    
    margin: auto;/* Centrado automático de la imagen de fondo */
    background-image: url(./assets/imgs/Bitcoin.svg);/* Imagen de fondo del contenedor de intercambio */
}
/* TABLAS SLIDER */
.main-tables-container--slider{
    display: flex;
    min-width: 288px;
    max-width: 900px;
    height: 500px; /* Altura del contenedor del slider */
    margin: 0 auto;
    overflow-x: scroll; /* Permite el desplazamiento horizontal */
    overflow-y: hidden; /* Oculta el desplazamiento vertical */
    overscroll-behavior-x: contain; /* Evita el desbordamiento horizontal */
    scroll-snap-type:x proximity; /* Permite el desplazamiento suave entre tablas */
}
/* TABLA CURRENCY*/
.main-currency-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;    
    margin: 0 15px; /*arriba y abajo no hay, pero reparte el margin a izquierda y derecha para centarlo */
    font-family: "Inter", sans-serif;
}
.main-currency-table .currency-table--title {
    font-family: Inter, inter;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 100%;    
    margin-top: 60px;
    margin-bottom: 20px;
    padding-left: 10%;;
    color: var(--bitcoin-orange);
    text-align: left;

}
.currency-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 30px auto;       
}
.currency-table--container table {
    width: 100%;
    height: 100%;
}
.currency-table--container td {
    width: 50%;
    padding: 10px ;
    text-align: left;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}
.currency-table--container .table__top-left {
    border-radius: 15px 0 0 0;
}
.currency-table--container .table__top-right {
    border-radius: 0 15px 0 0;
}

.currency-table--container .table__bottom-left {
    border-radius: 0 0 0 15px;
}
.currency-table--container .table__bottom-right {
    border-radius: 0 0 15px 0;
}
.currency-table--container .table__right {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
    color:#757575;
}
.currency-table--container .left {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color:#B5B0AC;
;
}
.currency-table--container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 30px;
    background-image: url(./assets/icons/trending-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.currency-table--container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 30px;
    background-image: url(./assets/icons/trending-up.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.main-tables-container .currency-table--date {
    width: 200px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 8px;
    background-color: var(--soft-orange);  
    font-size: 1.2rem ;
    font-family: Inter, inter;
    font-weight: 400;
    line-height: 1.9rem;    
}


/* TABLA COMMISISION*/

.main-commission-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 15px; /*arriba y abajo no hay, pero reparte el margin a izquierda y derecha para centarlo */
    font-family: "Inter", sans-serif;
}
.main-commission-table .commission-table--title {
    font-family: Inter, inter;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 100%;    
    margin-top: 60px;
    margin-bottom: 20px;
    padding-left: 20px;
    color: var(--secondary-blue);
    text-align: left;

}
.commission-table--container {
    width: 90%;
    min-width: 230px;/* Ancho mínimo del contenedor de la tabla de comisión */
    max-width: 300px;/* Ancho máximo del contenedor de la tabla de comisión */
    height: 250px;
    margin: 30px auto;       
}
.commission-table--container table {
    width: 100%;
    height: 100%;
}
.commission-table--container td {
    width: 50%;
    padding: 10px ;
    text-align: left;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}
.commission-table--container .table__top-left {
    border-radius: 15px 0 0 0;
}
.commission-table--container .table__top-right {
    border-radius: 0 15px 0 0;
}

.commission-table--container .table__bottom-left {
    border-radius: 0 0 0 15px;
}
.commission-table--container .table__bottom-right {
    border-radius: 0 0 15px 0;
}
.commission-table--container .table__right {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
    color:#757575;
}
.commission-table--container .left {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color:#B5B0AC;

}
.commission-table-date {
    margin-bottom: 50px;
}
.main-tables-container .commission-table--date{
    width: 200px;
    height: 40px;
    text-align: center;
    margin: 0 auto;    
    padding: 10px 0;
    border-radius: 8px;
    background-color: var(--soft-blue); 
    font-size: 1.2rem ;
    font-family: Inter, inter;
    font-weight: 400;
    line-height: 1.9rem;    
    margin-bottom: 20px;
}
.main-product-detail {
    position: relative; /* Posicionamiento relativo para el detalle del producto */
    width: 100%;
    min-width: 320px; /* Ancho mínimo del detalle del producto */
    padding: 20px 10px; /* 20px de arriba a abajo y 10px de derecha a izquierda */
    background-color: var(--warm-black); /* Color de fondo del detalle del producto */
}
.product-detail--batata-logo {
    position: absolute; /* Posicionamiento absoluto para el logo POR QUE SE VA A SALIR DEL CONTENEDOR */   
    width: 50px; /* Ancho del logo */
    height: 25px; /* Altura del logo */
    top: -10px; /* Posición superior del logo */
    left: calc(50% - 25px); /* Centrado horizontal del logo */
    background-image: url(./assets/imgs/batata.svg); /* Imagen de fondo del logo */
    background-repeat: no-repeat; /* No repetir la imagen de fondo */
    background-size: contain; /* Ajusta la imagen de fondo al tamaño del elemento */
}
.product-detail--title {
    width: 90%; /* Ancho del tile del detalle del producto */ 
    min-width: 288px; /* Ancho mínimo del tile del detalle del producto */
    height: auto; /* Altura automática para el tile del detalle del producto */
    margin: 0 auto; /* Centrado automático del tile del detalle del producto */ 
    margin-top: 50px; /* Margen superior para el tile del detalle del producto */
    text-align: center; /* Centrado del texto dentro del tile del detalle del producto */
}
.product-detail--title h2 {
    margin-bottom: 20px; /* Margen inferior para el título del tile del detalle del producto */
    font-size: 2.4rem; /* Tamaño de fuente del título del tile del detalle del producto */
    font-weight: 700; /* Peso de fuente del título del tile del detalle del producto */
    line-height: 2.6rem; /* Altura de línea del título del tile del detalle del producto */
    color: var(--just-white); /* Color del texto del título del tile del detalle del producto */

}
.product-detail--title p {
    margin-bottom: 20px; /* Margen inferior para el párrafo del tile del detalle del producto */
    font-size: 1.4rem; /* Tamaño de fuente del párrafo del tile del detalle del producto */
    font-weight: 500; /* Peso de fuente del párrafo del tile del detalle del producto */
    line-height: 1.6rem; /* Altura de línea del párrafo del tile del detalle del producto */
    color: var(--off-white); /* Color del texto del párrafo del tile del detalle del producto */    

}

/* Este container tiene todos los cards */


.product-detail--card {
    width: 100%; /* Ancho de la tarjeta del detalle del producto */
    min-width: 288px; /* Ancho mínimo de la tarjeta del detalle del producto */  
    max-width: 308px;  
    height: auto; /* Altura automática para la tarjeta del detalle del producto */
    margin: 0 auto; /* Centrado automático de la tarjeta del detalle del producto */
    margin-bottom: 15px;
    
    padding: 20px; /* Espacio interno de 20px para la tarjeta del detalle del producto */
    background-color: var(--black); /* Color de fondo de la tarjeta del detalle del producto */
    border-radius: 10px; /* Bordes redondeados para la tarjeta del detalle del producto */
}

.product-detail--card h3 {
    margin-bottom: 10px; /* Margen inferior para el título de la tarjeta del detalle del producto */
    font-size: 1.8rem; /* Tamaño de fuente del título de la tarjeta del detalle del producto */
    font-weight: 700; /* Peso de fuente del título de la tarjeta del detalle del producto */
    line-height: 2.2rem; /* Altura de línea del título de la tarjeta del detalle del producto */
    color: var(--just-white); /* Color del texto del título de la tarjeta del detalle del producto */

}
.product-detail--card p {
    margin-bottom: 10px; /* Margen inferior para el párrafo de la tarjeta del detalle del producto */
    font-size: 1.4rem; /* Tamaño de fuente del párrafo de la tarjeta del detalle del producto */
    font-weight: 500; /* Peso de fuente del párrafo de la tarjeta del detalle del producto */
    line-height: 1.6rem; /* Altura de línea del párrafo de la tarjeta del detalle del producto */
    color: #808080; /* Color del texto del párrafo de la tarjeta del detalle del producto */

}
.product-detail--card .clock {
    display: flex; /* Flexbox para alinear el contenido del reloj */    
    width: 24px;
    height: 24px; 
    color:var(--orange); /* Color del reloj */
    margin-bottom: 10px;
    background-image: url(./assets/icons/clock.svg); /* Imagen de fondo del reloj */
    background-size: cover; /* Ajusta la imagen de fondo al tamaño del elemento */
    background-repeat: no-repeat; /* No repetir la imagen de fondo */   
    background-position: center; /* Centra la imagen de fondo */
}
.product-detail--card .eye {
    display: flex; /* Flexbox para alinear el contenido del reloj */    
    width: 24px;
    height: 24px; 
    color:var(--orange); /* Color del reloj */
    margin-bottom: 10px;
    background-image: url(./assets/icons/eye.svg); /* Imagen de fondo del reloj */
    background-size: cover; /* Ajusta la imagen de fondo al tamaño del elemento */
    background-repeat: no-repeat; /* No repetir la imagen de fondo */   
    background-position: center; /* Centra la imagen de fondo */
}
.product-detail--card .dollar {
    display: flex; /* Flexbox para alinear el contenido del reloj */    
    width: 24px;
    height: 24px; 
    color:var(--orange); /* Color del reloj */
    margin-bottom: 10px;
    background-image: url(./assets/icons/dollar.svg); /* Imagen de fondo del reloj */
    background-size: cover; /* Ajusta la imagen de fondo al tamaño del elemento */
    background-repeat: no-repeat; /* No repetir la imagen de fondo */   
    background-position: center; /* Centra la imagen de fondo */
}
.product-detail--card .check-circle {
    display: flex; /* Flexbox para alinear el contenido del reloj */    
    width: 24px;
    height: 24px; 
    color:var(--orange); /* Color del reloj */
    margin-bottom: 10px;
    background-image: url(./assets/icons/check-circle.svg); /* Imagen de fondo del reloj */
    background-size: cover; /* Ajusta la imagen de fondo al tamaño del elemento */
    background-repeat: no-repeat; /* No repetir la imagen de fondo */   
    background-position: center; /* Centra la imagen de fondo */
}
.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh; /* Altura del contenedor de la imagen de Bitcoin */
    background-image: url(./assets/imgs/bitcoinbaby.svg); /* Imagen de fondo del contenedor de la imagen de Bitcoin */
    background-repeat: no-repeat; /* No repetir la imagen de fondo */
    background-position: center; /* Centra la imagen de fondo */
    background-size: cover; /* Ajusta la imagen de fondo al tamaño del elemento */
    margin-bottom: 50px;
    
}
.bitcoin-img-container h2 {
    position: relative; /* Posicionamiento absoluto para el título */ 
    text-align: center;
    padding-top: 70px;
    font-size: 2.4rem; /* Tamaño de fuente del título */
    font-weight: 700; /* Peso de fuente del título */
    line-height: 2.6rem; /* Altura de línea del título */
    color: var(--just-white); /* Color del texto del título */

}
.main-plans-container {
    width: 100%; /* Ancho del tile del detalle del producto */ 
    min-width: 320px; /* Ancho mínimo del tile del detalle del producto */
    height: auto; /* Altura automática para el tile del detalle del producto */
    margin: 0 auto; /* Centrado automático del tile del detalle del producto */ 
    margin-bottom: 50px; /* Margen superior para el tile del detalle del producto */
    text-align: center; /* Centrado del texto dentro del tile del detalle del producto */
}
.plans--title {
    width: 90%; /* Ancho del tile del detalle del producto */ 
    min-width: 288px; /* Ancho mínimo del tile del detalle del producto */
    height: auto; /* Altura automática para el tile del detalle del producto */
    margin: 0 auto; /* Centrado automático del tile del detalle del producto */ 
}
.plans--title h2 {
    margin-bottom: 20px; /* Margen inferior para el título del tile del detalle del producto */
    font-size: 2.4rem; /* Tamaño de fuente del título del tile del detalle del producto */
    font-weight: 700; /* Peso de fuente del título del tile del detalle del producto */
    line-height: 2.6rem; /* Altura de línea del título del tile del detalle del producto */
    color: var(--warm-black); /* Color del texto del título del tile del detalle del producto */
}
.plans--title p {
    margin-bottom: 20px; /* Margen inferior para el párrafo del tile del detalle del producto */
    font-size: 1.4rem; /* Tamaño de fuente del párrafo del tile del detalle del producto */
    font-weight: 500; /* Peso de fuente del párrafo del tile del detalle del producto */
    line-height: 1.8rem; /* Altura de línea del párrafo del tile del detalle del producto */
    color: #757575; /* Color del texto del párrafo del tile del detalle del producto */  
}
.plans-container--slider{
   display: flex;/* Flexbox para alinear los elementos del slider */
   /*gap: 50px; /* Espacio entre los elementos del slider */
   /*PARA SABER SI "gap" funciona en otro navegador entra en caniuse.com y escribe "gap"*/
   height: 316px; /* Altura del contenedor del slider */
   overflow-x: scroll; /* Desplazamiento horizontal para el slider */
   overflow-y:hidden;/* Evita el desplazamiento vertical del slider */
   overscroll-behavior-x: contain; /* Evita el desplazamiento del slider al arrastrar */
   scroll-snap-type:x proximity; /* Permite el ajuste de desplazamiento al arrastrar */

}

.plans-container--cards {
    position: relative;
    scroll-snap-align: center; /* Alinea el contenedor de tarjetas de planes al centro al arrastrar */    
    width: 70%;
    min-width: 230px; /* Ancho mínimo del contenedor de tarjetas de planes */
    max-width: 260px; /* Ancho máximo del contenedor de tarjetas de planes*/
    height: 250px; 
    /* Como no usamos "gap" en plans-container--slider, aquí usaremos lo siguiente: "margin: 50px 15px 0px 15px;"*/
    margin: 50px 15px 0px 15px; /* Centrado automático del contenedor de tarjetas de planes */
    margin-bottom: 50px; /* Margen inferior para el contenedor de tarjetas de planes */
    padding: 0 15px; /* Espacio a los lados del contenedor de tarjetas de planes */
    border-radius: 15px; /* Bordes redondeados para el contenedor de tarjetas de planes */
    background-color: var(--just-white); /* Color de fondo del contenedor de tarjetas de planes */
    box-shadow: 0px 4px 8px 0px rgba(89, 73, 30, 0.16); /* Sombra para el contenedor de tarjetas de planes */
}
.recommended {
    position: absolute; /* Posicionamiento absoluto para el texto recomendado */
    width: 120px;
    height:35px; /* Altura del texto recomendado */
    top: -15px;
    left: calc(50% - 60px); /* Centrado horizontal del texto recomendado */    
    border-radius: 2px solid var(--bitcoin-orange); /* Bordes redondeados para el texto recomendado */
    background-color: var(--bitcoin-orange);
    border-radius: 15px;
    color: var(--just-white); /* Color del texto recomendado */    
    top: -20px; /* Posición superior del texto recomendado */    
    text-align: center;
    padding: 10px;    
    font-size: 1.2rem; /* Tamaño de fuente del texto recomendado */
    font-weight: 700; /* Peso de fuente del texto recomendado */    
}
.plan-card--title {
    min-height: 20px;    
    font-size: 1.8rem; /* Tamaño de fuente del título de la tarjeta de plan */
    font-weight: 700; /* Peso de fuente del título de la tarjeta de plan */
    line-height: 1.8rem; /* Altura de línea del título de la tarjeta de plan */
    color: var(--black); /* Color del texto del título de la tarjeta de plan */
    padding:20px 0px 10px 0px; /* Espacio interno del título de la tarjeta de plan */

}
.plan-card--price {
   
    font-family: Inter, inter;
    font-size: 5.2rem; 
    font-weight: 700;
    line-height: 6.3rem;
    color:var(--black)
}
.plan-card--price span {
    position: absolute;
    
    font-family: Inter, inter;
    font-size: 1.2rem; 
    font-weight: 700;
    line-height: 1.4rem;
}
.plan-card--saving {
    min-height: 40px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.4rem;
    color:#757575;

}
.plan-card--ca {
    width: 150px;
    height: 48px;
    margin-top: 20px;    
    font-size: 1.4rem; /* Tamaño de fuente del botón */
    font-weight: 700; /* Peso de fuente del botón */
    line-height: 1.8rem; /* Altura de línea del botón */  
    /*padding: 12px 16px 12px 16px; /* Espacio interno del botón */
    color: var(--black);  
    background-color: #FAF8F7; /* Color de fondo del botón */
    border: 2px solid var(--bitcoin-orange); /* Borde del botón */
    border-radius: 4px; /* Bordes redondeados para el botón */    
}
.plan-card--ca .arrow-right{
    display:inline-block;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    background-image: url(./assets/icons/arrow-right.svg);
    vertical-align: middle;
}

footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}
footer section {
    display:flex;
    width: 50%;
    justify-content:center;
    align-items: center;    
}
footer .left ul{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;    
}
.left li {
    margin:10px 0;

}
.left a {
   text-decoration: none;
   color: var(--just-white) ; /* Color del texto de los enlaces */
   

}
.right img {
    width: 150px; /* Ancho de la imagen del logo */
    height: 24px; /* Altura de la imagen del logo */
    
}
